Remote_flows.json
[{"id":"93d39300.701d5","type":"tab","label":"Home Page Menu","disabled":false,"info":""},{"id":"c8c42a7.fc8a6d8","type":"tab","label":"Buttons / LED","disabled":false,"info":""},{"id":"f26f47be.e07618","type":"tab","label":"Data = History Chart","disabled":false,"info":""},{"id":"16d8da81.ec2935","type":"tab","label":"Data_Logger","disabled":false,"info":""},{"id":"6b8e83bc.43067c","type":"tab","label":"StyleSheet (UI)","disabled":false,"info":""},{"id":"199937ae.588a28","type":"tab","label":"Time Tool (UI)","disabled":false,"info":""},{"id":"a73991e1.f5554","type":"tab","label":"Live View (Camera) .JPG","disabled":false,"info":""},{"id":"c8c78f4d.679e8","type":"subflow","name":"csvColumnParser","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"a8857356.d49e68"}]}],"out":[{"x":900,"y":80,"wires":[{"id":"d71e0bef.46647","port":0}]}],"env":[{"name":"date","type":"str","value":"2021-05-20","ui":{"icon":"font-awesome/fa-address-card-o"}}],"color":"#DDAA99"},{"id":"655dd139.e672d","type":"ui_tab","name":"Remote Temperature Station","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d3dab89a.397a38","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#eeb4b4","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#1a1a1a","baseFont":"Gill Sans,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#c9a6ad","value":"#1a1a1a","edited":true},"page-titlebar-backgroundColor":{"value":"#1a1a1a","edited":false},"page-backgroundColor":{"value":"#d4b9b9","edited":true},"page-sidebar-backgroundColor":{"value":"#d9bfbf","edited":true},"group-textColor":{"value":"#363636","edited":true},"group-borderColor":{"value":"#413e5b","edited":true},"group-backgroundColor":{"value":"#d1c2c2","edited":true},"widget-textColor":{"value":"#111111","edited":true},"widget-backgroundColor":{"value":"#c9a6ad","edited":true},"widget-borderColor":{"value":"#d0c3c2","edited":true},"base-font":{"value":"Gill Sans,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"| Remote Temperature Station |","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":101,"sy":99,"gx":6,"gy":6,"cx":45,"cy":37,"px":13,"py":17}}},{"id":"8904b9ff.0b61c8","type":"ui_group","name":"Control/switch","tab":"655dd139.e672d","order":2,"disp":false,"width":10,"collapse":false},{"id":"7006dd1a.350164","type":"ui_tab","name":"History","icon":"history","order":3,"disabled":false,"hidden":false},{"id":"9365f8fa.8cda98","type":"mqtt-broker","name":"MQTT Broker Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"Payload","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29c52436.eb4d2c","type":"ui_group","name":"History Data","tab":"7006dd1a.350164","order":5,"disp":false,"width":"1","collapse":false},{"id":"89749fb7.87f01","type":"ui_group","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"ab397e95.29ebe","type":"ui_group","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"4e7edda4.417004","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"2c1e5ab3.914ef6","type":"ui_group","name":"Buttons","tab":"655dd139.e672d","order":3,"disp":false,"width":"1","collapse":false},{"id":"1c70d4cd.325c0b","type":"ui_group","name":"LiveVideo","tab":"df07ccac.714e9","order":1,"disp":false,"width":"7","collapse":false},{"id":"df07ccac.714e9","type":"ui_tab","name":"LiveVideo","icon":"dashboard","disabled":false,"hidden":false},{"id":"bca4ac1c.3f733","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"c90ed0b1.f8ac3","type":"ui_group","name":"Graphs","tab":"ebc81b8b.95c9e8","order":3,"disp":true,"width":"9","collapse":false},{"id":"3371ec91.719454","type":"ui_group","name":"Today","tab":"7006dd1a.350164","order":1,"disp":true,"width":"8","collapse":true},{"id":"197e9c69.26ddc4","type":"ui_group","name":"Live Chart","tab":"655dd139.e672d","order":1,"disp":false,"width":"2","collapse":false},{"id":"f2474495.4bf07","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"38"},{"id":"aa17a30d.2da05","type":"ui_group","name":"Meteo","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"4b2be262.7a707c","type":"ui_group","name":"Temperature :","tab":"","order":1,"disp":true,"width":"10","collapse":true},{"id":"e3c1dba9.5039a8","type":"ui_group","name":"BEHEEROMGEVING ","tab":"","order":1,"disp":true,"width":14,"collapse":true},{"id":"c10af24f.182ce","type":"ui_group","name":"History Checking","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"49b17fdb.a4e67","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"61de5090.0f5d9","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d7d53078.9580c","type":"ui_group","name":"System","tab":"","order":1,"disp":true,"width":30,"collapse":false},{"id":"f21f2722.4727c8","type":"ui_group","name":"test","tab":"","order":1,"disp":true,"width":"10","collapse":true},{"id":"fd417531.ee3bd8","type":"ui_tab","name":"Led Station","icon":"wb_incandescent","order":6,"disabled":false,"hidden":false},{"id":"d2580356.a4959","type":"ui_group","name":"Default","tab":"fd417531.ee3bd8","order":5,"disp":false,"width":"3","collapse":false},{"id":"49ac8a4.a00c574","type":"ui_group","name":"Hidden","tab":"7006dd1a.350164","order":6,"disp":false,"width":"1","collapse":false},{"id":"4cb4003a.695a5","type":"ui_group","name":"Buttons","tab":"fd417531.ee3bd8","order":2,"disp":false,"width":"4","collapse":false},{"id":"a7a4d354.f14e6","type":"ui_group","name":"Switch","tab":"fd417531.ee3bd8","order":1,"disp":true,"width":"4","collapse":true},{"id":"df04f954.8695f8","type":"ui_group","name":"Style Sheet","tab":"fd417531.ee3bd8","order":3,"disp":true,"width":3,"collapse":true},{"id":"ec7d38e5.430db8","type":"ui_group","name":" ","tab":"7006dd1a.350164","order":2,"disp":true,"width":"2","collapse":true},{"id":"f5a28d93.13a8c","type":"ui_group","name":"Default","tab":"fd417531.ee3bd8","order":4,"disp":false,"width":"1","collapse":false},{"id":"5f9fdb6a.e27b74","type":"mqtt-broker","name":"192.168.1.105","broker":"192.168.1.105","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1da955b.f8df28","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"55986ec.9dda79","type":"ui_group","name":"This week","tab":"7006dd1a.350164","order":4,"disp":true,"width":8,"collapse":true},{"id":"6638fa24.ad86e4","type":"ui_group","name":"Daily Average","tab":"7006dd1a.350164","order":3,"disp":true,"width":"6","collapse":false},{"id":"4dfed6f4.6dd368","type":"ui_spacer","name":"spacer","group":"4cb4003a.695a5","order":6,"width":1,"height":1},{"id":"f6a64c10.f69fa","type":"ui_group","name":"Buttons","tab":"df07ccac.714e9","order":2,"disp":true,"width":1,"collapse":false},{"id":"41ba6f17.84a88","type":"telegram bot","botname":"t.me/Brightnessupbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5ab6a1fc.77762","type":"telegram bot","botname":"t.me/HomeJpgbot","usernames":"HomeJpgbot","chatids":"69","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"986d9b29.f45eb8","type":"mqtt in","z":"93d39300.701d5","name":"","topic":"myTemps/temperature/onlyOne","qos":"2","datatype":"auto","broker":"9365f8fa.8cda98","x":590,"y":260,"wires":[["5b018fb5.feaf","504ca3de.4b46ec"]]},{"id":"5b018fb5.feaf","type":"change","z":"93d39300.701d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":260,"wires":[["87c9f462.452348","42fdf962.956538"]]},{"id":"87c9f462.452348","type":"ui_gauge","z":"93d39300.701d5","name":"Live Temperature","group":"8904b9ff.0b61c8","order":1,"width":5,"height":2,"gtype":"gage","title":"Live Temperature","label":"° Celcius","format":"{{value}}","min":"-5","max":"39","colors":["#0c00b3","#ffffff","#e43f3f"],"seg1":"20","seg2":"25","x":1210,"y":240,"wires":[]},{"id":"c24306f3.8392d8","type":"ui_chart","z":"93d39300.701d5","name":"","group":"8904b9ff.0b61c8","order":2,"width":5,"height":2,"label":"Temperature / °C","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"240","removeOlderPoints":"10000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#202427","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1510,"y":300,"wires":[[]]},{"id":"a8857356.d49e68","type":"csv","z":"c8c78f4d.679e8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":200,"y":80,"wires":[["d12b5d18.58218"]]},{"id":"3b501c89.fa554c","type":"split","z":"c8c78f4d.679e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":540,"y":80,"wires":[["6dad6ed9.c91f08"]]},{"id":"6dad6ed9.c91f08","type":"function","z":"c8c78f4d.679e8","name":"","func":"if (!context.results) context.results = {}\n\nif (!context.results[msg.topic]) context.results[msg.topic] = []\ncontext.results[msg.topic].push(msg.payload)\nmsg.payload = context.results\n\nif ((msg.originalParts.index === msg.originalParts.count - 1) && (msg.parts.index === msg.parts.count - 1)) {\n    msg.payload = context.results\n    context.results = {}\n    return msg\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":80,"wires":[["d71e0bef.46647"]]},{"id":"d12b5d18.58218","type":"change","z":"c8c78f4d.679e8","name":"","rules":[{"t":"set","p":"originalParts","pt":"msg","to":"parts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["3b501c89.fa554c"]]},{"id":"d71e0bef.46647","type":"change","z":"c8c78f4d.679e8","name":"spread","rules":[{"t":"set","p":"payload","pt":"msg","to":"$spread(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[[]]},{"id":"c908cd8.9a4eb3","type":"comment","z":"a73991e1.f5554","name":"live view of camera","info":"","x":430,"y":100,"wires":[]},{"id":"46fc49db.630628","type":"inject","z":"a73991e1.f5554","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"checkWeb","payloadType":"str","x":230,"y":160,"wires":[["d7914d3c.23c8d"]]},{"id":"d7914d3c.23c8d","type":"ui_template","z":"a73991e1.f5554","group":"1c70d4cd.325c0b","name":"EspCam View","order":1,"width":7,"height":6,"format":"<!DOCTYPE html>\n<html>\n<style>\nimg {\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    padding: 2px;\n    width: 1000px;\n}\n</style>\n\n<script type=\"text/javascript\">\nscope.$watch('msg', function(msg) {\n    inMessage(msg.payload);\n});\n\nfunction updatePic() {\n    document.getElementById('c51').src = \"http://192.168.1.101:81\";\n\n    //alert('updated pics');\n}\n\nfunction inMessage(event) {\n    if (event.match('checkWeb')) {\n        updatePic();\n    }\n}\n\n</script>\n<center>\n<table>\n    <tr><!-- Row 1 -->\n    \t\t<td style=\"text-align: center\"><img src=\"\" id=\"c51\" /></td>\n    \n   \t\t   \n    </tr>\n</table>\n</center>\n</html>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":440,"y":160,"wires":[[]]},{"id":"ae276441.a21a38","type":"ui_chart","z":"f26f47be.e07618","name":"24 Hour | Temperature Chart","group":"3371ec91.719454","order":1,"width":8,"height":2,"label":"24 Hour","chartType":"line","legend":"false","xformat":"D HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"25","removeOlder":"5","removeOlderPoints":"10000","removeOlderUnit":"86400","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1b1c1d","#0c0d0e","#ff7f0e","#2ca02c","#98df8a","#131111","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1620,"y":260,"wires":[["3017ca11.272976"]]},{"id":"39ba90ca.6e759","type":"function","z":"f26f47be.e07618","name":"Array to Chart Format","func":"var data = [];\nvar month = [];\nvar minutes = 1000 * 60;\nvar hours = minutes * 60;\nmsg.payload.forEach(function(value) {\n\n    data.push(value['Temperature']);\n    month.push(value['dateTime']);\n});\n\n\n\n\nmsg.payload = [{\n     series: \"Temperature\",\n    data: [data],\n    labels: month\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":260,"wires":[["ae276441.a21a38"]]},{"id":"9b55d14a.93022","type":"file in","z":"f26f47be.e07618","name":"Todays temperature (Auto_Read)","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":800,"y":260,"wires":[["2f3cc1bb.45daee"]]},{"id":"2f3cc1bb.45daee","type":"csv","z":"f26f47be.e07618","name":"","sep":",","hdrin":true,"hdrout":"once","multi":"mult","ret":"\\r\\n","temp":"dateTime,Temperature","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1030,"y":260,"wires":[["39ba90ca.6e759"]]},{"id":"3017ca11.272976","type":"debug","z":"f26f47be.e07618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":260,"wires":[]},{"id":"cf7a6c75.3bb91","type":"ui_template","z":"199937ae.588a28","group":"2c1e5ab3.914ef6","name":"Clock Toolbar","order":5,"width":1,"height":1,"format":"\n<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div></div>');\n    var p = $('<p/ id=\"clock\">');\n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data.match(\"systemsummary\")) { //Systemstatus\n                m = data;\n                n = m.split(':');\n                //alert(n[1]);\n                var sSummary = parseInt(n[1], 10);\n                if(sSummary === 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"transparent\";\n                }\n                if(sSummary < 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"#FF0033\";\n                }\n            }else{\n                displayTitle(data);\n            }\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":300,"y":160,"wires":[[]]},{"id":"225ed3ea.59680c","type":"ui_template","z":"199937ae.588a28","group":"29c52436.eb4d2c","name":"Clock Toolbar","order":3,"width":0,"height":0,"format":"\n<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div></div>');\n    var p = $('<p/ id=\"clock\">');\n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data.match(\"systemsummary\")) { //Systemstatus\n                m = data;\n                n = m.split(':');\n                //alert(n[1]);\n                var sSummary = parseInt(n[1], 10);\n                if(sSummary === 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"transparent\";\n                }\n                if(sSummary < 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"#FF0033\";\n                }\n            }else{\n                displayTitle(data);\n            }\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":300,"y":200,"wires":[[]]},{"id":"70f42ba7.836274","type":"ui_button","z":"93d39300.701d5","name":"GoToHistory","group":"2c1e5ab3.914ef6","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"darkgrey","icon":"poll","payload":"{\"tab\":\"History\"}","payloadType":"json","topic":"","topicType":"str","x":1070,"y":500,"wires":[["b33a01ed.2b7f4"]]},{"id":"26e72e2b.6ad8d2","type":"comment","z":"93d39300.701d5","name":"Buttons / Controls","info":"","x":190,"y":420,"wires":[]},{"id":"e29aa8fb.c1bb58","type":"comment","z":"93d39300.701d5","name":"Home Page","info":"","x":170,"y":120,"wires":[]},{"id":"f70553bc.c1822","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"","group":"4cb4003a.695a5","order":3,"width":2,"height":1,"passthru":false,"label":"Rain Fall","tooltip":"","color":"darkgrey","bgcolor":"darkblue","icon":"rain","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1800,"y":260,"wires":[[]]},{"id":"b8c36110.aee32","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"","group":"4cb4003a.695a5","order":4,"width":2,"height":1,"passthru":false,"label":"Mood","tooltip":"","color":"","bgcolor":"lightpurple","icon":"","payload":"","payloadType":"str","topic":"LEDwall/command/","topicType":"msg","x":1810,"y":320,"wires":[["96e2f281.db357","31d64f.baf279b2"]]},{"id":"f1f8d1ca.389db","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"","group":"4cb4003a.695a5","order":1,"width":2,"height":1,"passthru":false,"label":"Ocean Sunset","tooltip":"","color":"light orange/light red","bgcolor":"lightpink","icon":"","payload":"30","payloadType":"str","topic":"LEDwall/make/makeAll/","topicType":"msg","x":1780,"y":220,"wires":[["f1fd71f1.9ef41","1af48994.de9a56"]]},{"id":"ea7a4a97.cc1078","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"","group":"4cb4003a.695a5","order":5,"width":2,"height":1,"passthru":false,"label":"Disco","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":1810,"y":400,"wires":[["a369cbae.7ddb68"]]},{"id":"e782b0c3.10635","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"","group":"4cb4003a.695a5","order":2,"width":2,"height":1,"passthru":false,"label":"Sun rise","tooltip":"","color":"","bgcolor":"lightblue","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1800,"y":460,"wires":[["d9ad3f67.dba47"]]},{"id":"76d3bc1e.350704","type":"ui_slider","z":"c8c42a7.fc8a6d8","name":"","label":"Brightness","tooltip":"{{value}}","group":"df04f954.8695f8","order":1,"width":3,"height":1,"passthru":false,"outs":"end","topic":"LEDwall/command/brightness","topicType":"msg","min":0,"max":"255","step":"1","x":390,"y":220,"wires":[["d3d0744f.a7b708","7aece183.d14a7"]]},{"id":"13f0d6af.afcc39","type":"ui_text","z":"c8c42a7.fc8a6d8","group":"a7a4d354.f14e6","order":2,"width":2,"height":1,"name":"","label":"LED CONTROL STATION","format":"","layout":"row-center","x":490,"y":60,"wires":[]},{"id":"d0cf6ebf.3a38f","type":"ui_slider","z":"c8c42a7.fc8a6d8","name":"","label":"Green","tooltip":"","group":"df04f954.8695f8","order":3,"width":3,"height":1,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":"0","max":"255","step":"2","x":2070,"y":780,"wires":[["63c83c98.656a64","68036bf1.b21824","6082caba.26d244"]]},{"id":"e98aaf62.b9da5","type":"ui_chart","z":"f26f47be.e07618","name":"Week History","group":"55986ec.9dda79","order":1,"width":8,"height":3,"label":"Week History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"10000","removeOlderUnit":"604800","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1b1c1d","#0c0d0e","#ff7f0e","#2ca02c","#98df8a","#131111","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1750,"y":920,"wires":[["80c0afc.6934d5"]]},{"id":"c49130d0.e8952","type":"function","z":"f26f47be.e07618","name":"Array to Chart Format","func":"var data = [];\nvar month = [];\nvar minutes = 1000 * 60;\nvar hours = minutes * 60;\nmsg.payload.forEach(function(value) {\n\n    data.push(value['Temperature']);\n    month.push(value['dateTime']);\n});\n\n\n\nmsg.payload = [{\n     series: \"Temperature\",\n    data: [data],\n    labels: month\n}];\n\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":880,"wires":[["e98aaf62.b9da5"]]},{"id":"ad700d01.2998","type":"inject","z":"f26f47be.e07618","name":"","props":[],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":530,"y":880,"wires":[["4d79bdaa.161184"]]},{"id":"d8c49d62.72643","type":"file in","z":"f26f47be.e07618","name":"Current_Week.csv","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":850,"y":880,"wires":[["663e756e.86d6ac"]]},{"id":"80c0afc.6934d5","type":"debug","z":"f26f47be.e07618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":880,"wires":[]},{"id":"663e756e.86d6ac","type":"csv","z":"f26f47be.e07618","name":"","sep":",","hdrin":true,"hdrout":"once","multi":"mult","ret":"\\n","temp":"dateTime,Temperature","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1070,"y":880,"wires":[["c49130d0.e8952"]]},{"id":"b33a01ed.2b7f4","type":"ui_ui_control","z":"93d39300.701d5","name":"ui control","x":1420,"y":500,"wires":[[]]},{"id":"a55709a6.9427b8","type":"ui_button","z":"93d39300.701d5","name":"GoToLiveVideo","group":"2c1e5ab3.914ef6","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"videocam","payload":"{\"tab\":\"LiveVideo\"}","payloadType":"json","topic":"","topicType":"str","x":1080,"y":560,"wires":[["b33a01ed.2b7f4"]]},{"id":"630594eb.6e29dc","type":"ui_button","z":"93d39300.701d5","name":"GoToLedStation","group":"49ac8a4.a00c574","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"wb_incandescent","payload":"{\"tab\":\"Led Station\"}","payloadType":"json","topic":"","topicType":"str","x":1090,"y":680,"wires":[["b33a01ed.2b7f4"]]},{"id":"5d5c2b10.87c4b4","type":"ui_button","z":"93d39300.701d5","name":"GoToHomePage","group":"f6a64c10.f69fa","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"home","payload":"{\"tab\":\"Remote Home Station\"}","payloadType":"json","topic":"","topicType":"str","x":1090,"y":620,"wires":[["b33a01ed.2b7f4"]]},{"id":"a630599e.3821b8","type":"ui_ui_control","z":"93d39300.701d5","name":"ui control","x":1420,"y":980,"wires":[[]]},{"id":"bf267c03.52a2b","type":"ui_button","z":"93d39300.701d5","name":"GoToLiveVideo","group":"49ac8a4.a00c574","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"videocam","payload":"{\"tab\":\"LiveVideo\"}","payloadType":"json","topic":"","topicType":"str","x":1080,"y":860,"wires":[["dfee2345.2ed18"]]},{"id":"aa52cc8a.ebd13","type":"ui_button","z":"93d39300.701d5","name":"GoToHomePage","group":"49ac8a4.a00c574","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"home","payload":"{\"tab\":\"Remote Home Station\"}","payloadType":"json","topic":"","topicType":"str","x":1090,"y":920,"wires":[["dfee2345.2ed18"]]},{"id":"2c9dfaec.a56146","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"Strobe type (1)","group":"4cb4003a.695a5","order":8,"width":1,"height":1,"passthru":true,"label":"Strobe","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"LEDwall/command/makeAll/type","topicType":"msg","x":1040,"y":300,"wires":[["647fe49a.536d7c"]]},{"id":"647fe49a.536d7c","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"makeAll/type","topic":"LEDwall/command/makeAll/type","qos":"","retain":"","broker":"61de5090.0f5d9","x":1330,"y":300,"wires":[]},{"id":"bc8fe99d.89f508","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"Brightness 200","group":"4cb4003a.695a5","order":7,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"brightness_high","payload":"200","payloadType":"str","topic":"topic","topicType":"msg","x":380,"y":340,"wires":[["d3d0744f.a7b708","7aece183.d14a7"]]},{"id":"48e22434.176cec","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"Brightness 0","group":"4cb4003a.695a5","order":11,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"brightness_low","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":280,"wires":[["d3d0744f.a7b708"]]},{"id":"d3d0744f.a7b708","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"command/brightness","topic":"LEDwall/command/brightness","qos":"","retain":"","broker":"61de5090.0f5d9","x":640,"y":220,"wires":[]},{"id":"8072ecc6.32a91","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"Random","group":"4cb4003a.695a5","order":9,"width":1,"height":1,"passthru":false,"label":"random time","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"LEDwall/command/makeAll/type","topicType":"msg","x":1060,"y":220,"wires":[["647fe49a.536d7c"]]},{"id":"9a5cc5cd.a0bea8","type":"ui_button","z":"c8c42a7.fc8a6d8","name":"Static","group":"4cb4003a.695a5","order":10,"width":1,"height":1,"passthru":true,"label":"Static","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"LEDwall/command/makeAll/type","topicType":"msg","x":1070,"y":380,"wires":[["647fe49a.536d7c"]]},{"id":"2220f477.6f088c","type":"ui_slider","z":"c8c42a7.fc8a6d8","name":"","label":"Red","tooltip":"{{value}}","group":"df04f954.8695f8","order":2,"width":3,"height":1,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":"0","max":"255","step":"2","x":2070,"y":660,"wires":[["9bebc857.55a6d8","752894f6.c84afc","6082caba.26d244"]]},{"id":"9bebc857.55a6d8","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"LedCntrl","topic":"LEDwall/command/makeAll/red","qos":"","retain":"","broker":"61de5090.0f5d9","x":2560,"y":720,"wires":[]},{"id":"63c83c98.656a64","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"LedCntrl","topic":"LEDwall/command/makeAll/green","qos":"","retain":"","broker":"61de5090.0f5d9","x":2560,"y":840,"wires":[]},{"id":"c878c8f0.4832a8","type":"ui_slider","z":"c8c42a7.fc8a6d8","name":"","label":"Blue","tooltip":"","group":"df04f954.8695f8","order":4,"width":3,"height":1,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"255","step":"2","x":2070,"y":920,"wires":[["63ca82d.42e1c7c","e4caec43.6e511","6082caba.26d244"]]},{"id":"63ca82d.42e1c7c","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"LedCntrl","topic":"LEDwall/command/makeAll/blue","qos":"","retain":"","broker":"61de5090.0f5d9","x":2560,"y":980,"wires":[]},{"id":"b08667be.7e4778","type":"comment","z":"c8c42a7.fc8a6d8","name":"Select Type ","info":"","x":1050,"y":180,"wires":[]},{"id":"64ec72.2a54639","type":"comment","z":"c8c42a7.fc8a6d8","name":"Preset Color Themes","info":"","x":1780,"y":180,"wires":[]},{"id":"6b29a017.f69c2","type":"comment","z":"c8c42a7.fc8a6d8","name":"Test These out !","info":"","x":260,"y":60,"wires":[]},{"id":"edbc0a72.03f108","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"makeAll/green","topic":"LEDwall/command/makeAll/green","qos":"","retain":"","broker":"61de5090.0f5d9","x":2560,"y":240,"wires":[]},{"id":"ba9952bd.827f1","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"command/makeAll/red","topic":"LEDwall/command/makeAll/red","qos":"","retain":"","broker":"61de5090.0f5d9","x":2530,"y":300,"wires":[]},{"id":"f1fd71f1.9ef41","type":"trigger","z":"c8c42a7.fc8a6d8","name":"","op1":"","op2":"236","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2040,"y":220,"wires":[["edbc0a72.03f108"],["38fed66d.265aca"]]},{"id":"38fed66d.265aca","type":"trigger","z":"c8c42a7.fc8a6d8","name":"","op1":"","op2":"28","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2040,"y":260,"wires":[["ba9952bd.827f1"],["1f1af9e8.7c3d56"]]},{"id":"1f1af9e8.7c3d56","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"command/makeAll/blue","topic":"LEDwall/command/makeAll/blue","qos":"","retain":"","broker":"61de5090.0f5d9","x":2530,"y":360,"wires":[]},{"id":"ef6a0b5e.127d78","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"makeAll/type","topic":"LEDwall/command/makeAll/type","qos":"","retain":"","broker":"61de5090.0f5d9","x":2550,"y":420,"wires":[]},{"id":"a271bb4e.d33f78","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"Command/Enabled","topic":"LEDwall/command/makeAll/enabled","qos":"","retain":"","broker":"61de5090.0f5d9","x":720,"y":660,"wires":[]},{"id":"6405acaa.1f3134","type":"ui_switch","z":"c8c42a7.fc8a6d8","name":"","label":"Switch Enable","tooltip":"","group":"a7a4d354.f14e6","order":1,"width":2,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":380,"y":660,"wires":[["a271bb4e.d33f78"]]},{"id":"386f38c.e1879c8","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"LedCntrl","topic":"LEDwall/command/fadeToBlack/multiplier","qos":"","retain":"","broker":"61de5090.0f5d9","x":680,"y":720,"wires":[]},{"id":"55fe1665.a4f6e8","type":"ui_text_input","z":"c8c42a7.fc8a6d8","name":"","label":"FTB Multiplier","tooltip":"","group":"4cb4003a.695a5","order":15,"width":1,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"LEDwall/command/fadeToBlack/multiplier","topicType":"msg","x":380,"y":720,"wires":[["386f38c.e1879c8"]]},{"id":"77a68044.44f68","type":"comment","z":"c8c42a7.fc8a6d8","name":"Enabled /","info":"","x":380,"y":620,"wires":[]},{"id":"728dc465.d9012c","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"makeAll/type","topic":"LEDwall/command/makeAll/type","qos":"","retain":"","broker":"61de5090.0f5d9","x":1410,"y":660,"wires":[]},{"id":"798d5cab.0a7b04","type":"ui_text_input","z":"c8c42a7.fc8a6d8","name":"","label":"Type","tooltip":"","group":"4cb4003a.695a5","order":13,"width":1,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1230,"y":660,"wires":[["728dc465.d9012c"]]},{"id":"1af48994.de9a56","type":"trigger","z":"c8c42a7.fc8a6d8","name":"0 / 1 ","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2070,"y":180,"wires":[["ef6a0b5e.127d78"],["986e3096.01ae4"]]},{"id":"986e3096.01ae4","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"command/makeAll/enabled","topic":"LEDwall/command/makeAll/enabled","qos":"","retain":"","broker":"61de5090.0f5d9","x":2520,"y":180,"wires":[]},{"id":"d9ad3f67.dba47","type":"trigger","z":"c8c42a7.fc8a6d8","name":"55/145","op1":"55","op2":"145","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2060,"y":440,"wires":[["ba9952bd.827f1","1af48994.de9a56"],["edbc0a72.03f108","5b92ba8d.f80b24"]]},{"id":"5b92ba8d.f80b24","type":"trigger","z":"c8c42a7.fc8a6d8","name":"trigger","op1":"76","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2210,"y":440,"wires":[["1f1af9e8.7c3d56"]]},{"id":"8b177b28.8fa588","type":"function","z":"16d8da81.ec2935","name":"","func":"\n\n// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n\nmsg.fname = \"Temperature_\" + yyyy + mm + dd +\".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/\"+ msg.fname;\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":500,"wires":[["c0bd2c22.d091e"]],"outputLabels":["msg.filename"]},{"id":"fe6dd3b7.e0aec","type":"inject","z":"16d8da81.ec2935","name":"","props":[],"repeat":"200","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":810,"y":500,"wires":[["8b177b28.8fa588"]]},{"id":"8c8c3919.70f3a8","type":"function","z":"16d8da81.ec2935","name":"Data_Logger","func":"var date;\ndate = new Date();\ndate = (date.getFullYear()\n+ '-' + ('00' + (date.getMonth()+1)).slice(-2) \n+ '-' + ('00' + date.getDate()).slice(-2) \n+ ' ' + ('00' + date.getHours()).slice(-2) \n+ ':' + ('00' + date.getMinutes()).slice(-2) \n+ ':' + ('00' + date.getSeconds()).slice(-2));\n\nif(msg.payload < -100)msg.payload = null;\n\npayload={\"dateTime\":date, \"Temperature\":msg.payload};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":400,"wires":[["4749400a.89a12"]]},{"id":"c0bd2c22.d091e","type":"file","z":"16d8da81.ec2935","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1870,"y":500,"wires":[["e7c318f4.277d98"]]},{"id":"e7c318f4.277d98","type":"debug","z":"16d8da81.ec2935","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2010,"y":460,"wires":[]},{"id":"e6211782.d84088","type":"mqtt in","z":"16d8da81.ec2935","name":"myTemps","topic":"myTemps/temperature/onlyOne","qos":"2","datatype":"auto","broker":"9365f8fa.8cda98","x":660,"y":400,"wires":[["258ed249.b42d0e"]]},{"id":"258ed249.b42d0e","type":"smooth","z":"16d8da81.ec2935","name":"","property":"payload","action":"mean","count":"400","round":"2","mult":"single","reduce":true,"x":960,"y":400,"wires":[["1b8b7e9e.854e71"]]},{"id":"4749400a.89a12","type":"csv","z":"16d8da81.ec2935","name":"CSV File Format","sep":",","hdrin":true,"hdrout":"once","multi":"one","ret":"\\n","temp":"dateTime,Temperature","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":"","x":1640,"y":400,"wires":[["8b177b28.8fa588"]]},{"id":"9b620d79.2538f","type":"comment","z":"16d8da81.ec2935","name":"Sensor Data + Time to csv format","info":"","x":1620,"y":300,"wires":[]},{"id":"e0760b66.883dc8","type":"comment","z":"16d8da81.ec2935","name":"Auto-Create new file for each day","info":"","x":840,"y":920,"wires":[]},{"id":"33eb58af.bfd1a8","type":"comment","z":"16d8da81.ec2935","name":"New date for filename","info":"","x":1240,"y":540,"wires":[]},{"id":"44c6460d.652948","type":"inject","z":"16d8da81.ec2935","name":"","props":[],"repeat":"3000","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":810,"y":880,"wires":[["2411ea56.66e5b6"]]},{"id":"8d213b9c.c58658","type":"function","z":"16d8da81.ec2935","name":"Auto_Logger","func":"var date;\ndate = new Date();\ndate = (date.getFullYear()\n+ '-' + ('00' + (date.getMonth()+1)).slice(-2) \n+ '-' + ('00' + date.getDate()).slice(-2) \n+ ' ' + ('00' + date.getHours()).slice(-2) \n+ ':' + ('00' + date.getMinutes()).slice(-2) \n+ ':' + ('00' + date.getSeconds()).slice(-2));\n\npayload={\"dateTime\":date, \"Temperature\":msg.payload};\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":780,"wires":[["89a6b0b3.c438"]]},{"id":"3bfb12c1.a1a21e","type":"file","z":"16d8da81.ec2935","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1870,"y":880,"wires":[["f168c438.5d6c08"]]},{"id":"f168c438.5d6c08","type":"debug","z":"16d8da81.ec2935","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2010,"y":880,"wires":[]},{"id":"94b3acbc.ab8ab","type":"mqtt in","z":"16d8da81.ec2935","name":"myTemps","topic":"myTemps/temperature/onlyOne","qos":"2","datatype":"auto","broker":"9365f8fa.8cda98","x":660,"y":780,"wires":[["b69ac9a6.cc8d08"]]},{"id":"b69ac9a6.cc8d08","type":"smooth","z":"16d8da81.ec2935","name":"","property":"payload","action":"mean","count":"400","round":"2","mult":"single","reduce":true,"x":960,"y":780,"wires":[["6ff79ecd.c5fdf","9ba09dd5.5cbc9"]]},{"id":"6ff79ecd.c5fdf","type":"debug","z":"16d8da81.ec2935","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":740,"wires":[]},{"id":"89a6b0b3.c438","type":"csv","z":"16d8da81.ec2935","name":"CSV File Format","sep":",","hdrin":true,"hdrout":"once","multi":"one","ret":"\\n","temp":"dateTime,Temperature","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":"","x":1640,"y":780,"wires":[["2411ea56.66e5b6"]]},{"id":"96e2f281.db357","type":"trigger","z":"c8c42a7.fc8a6d8","name":"1/0","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2070,"y":340,"wires":[["986e3096.01ae4"],["ef6a0b5e.127d78","edbc0a72.03f108"]]},{"id":"31d64f.baf279b2","type":"trigger","z":"c8c42a7.fc8a6d8","name":"230/195","op1":"230","op2":"195","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2060,"y":300,"wires":[["ba9952bd.827f1"],["1f1af9e8.7c3d56"]]},{"id":"a369cbae.7ddb68","type":"trigger","z":"c8c42a7.fc8a6d8","name":"1/0","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2070,"y":380,"wires":[["ef6a0b5e.127d78"],["986e3096.01ae4","edbc0a72.03f108"]]},{"id":"e4caec43.6e511","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"BlinkyBlue","topic":"LEDwall/command/blinky/blue","qos":"","retain":"","broker":"61de5090.0f5d9","x":2550,"y":920,"wires":[]},{"id":"7e8b45f8.8f89cc","type":"function","z":"f26f47be.e07618","name":"","func":"\n\n// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nmsg.fname = \"Temperature_\" + yyyy + mm + dd +\".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/\"+ msg.fname;\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":340,"wires":[["9b55d14a.93022"]],"outputLabels":["msg.filename"]},{"id":"33cc363c.4de51a","type":"inject","z":"f26f47be.e07618","name":"","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":630,"y":340,"wires":[["7e8b45f8.8f89cc"]]},{"id":"11c19ab9.fbde05","type":"comment","z":"f26f47be.e07618","name":"Auto-Create new file for each day","info":"","x":590,"y":380,"wires":[]},{"id":"f3b279a3.8bd5c8","type":"comment","z":"f26f47be.e07618","name":"New date for filename","info":"","x":1240,"y":200,"wires":[]},{"id":"c9db1f0c.89366","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"Blur/Amount","topic":"LEDwall/command/blur/amount","qos":"","retain":"","broker":"61de5090.0f5d9","x":2550,"y":1060,"wires":[]},{"id":"626ceea9.d2b58","type":"ui_slider","z":"c8c42a7.fc8a6d8","name":"","label":"Blur","tooltip":"","group":"df04f954.8695f8","order":5,"width":3,"height":1,"passthru":true,"outs":"end","topic":"/LEDwall/command/blur/amount","topicType":"msg","min":"0","max":"250","step":"2","x":2070,"y":1060,"wires":[["c9db1f0c.89366"]]},{"id":"27dc667b.2727da","type":"comment","z":"16d8da81.ec2935","name":"Temperature Data Logger","info":"//Saves incoming sensor data to csv file format.\nUsing Function node for this","x":710,"y":140,"wires":[]},{"id":"4d79bdaa.161184","type":"function","z":"f26f47be.e07618","name":"","func":"\n\n// Get the current Month/Date and convert it to text\nvar now = new Date();\n\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n\n\nif     (dd <  8) dd = 1;  //week 1 \nelse if(dd < 15) dd = 2; //week 2\nelse if(dd < 22) dd = 3; //week 3\nelse if(dd > 21) dd = 4; //week 4\n\nmsg.fname = \"Temperature_Week_\" + mm + \"_\"+ dd +\".csv\";\n\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/\"+ msg.fname;\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":820,"wires":[["d8c49d62.72643"]],"outputLabels":["msg.filename"]},{"id":"7d35fa85.575594","type":"ui_text_input","z":"c8c42a7.fc8a6d8","name":"","label":"Interval","tooltip":"","group":"4cb4003a.695a5","order":12,"width":1,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"LEDwall/command/interval","topicType":"msg","x":400,"y":780,"wires":[["ddb9c104.9e896"]]},{"id":"ddb9c104.9e896","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"LedCntrl","topic":"LEDwall/command/makeAll/interval","qos":"","retain":"","broker":"61de5090.0f5d9","x":680,"y":780,"wires":[]},{"id":"2411ea56.66e5b6","type":"function","z":"16d8da81.ec2935","name":"","func":"\n\n// Get the current Month/Date and convert it to text\nvar now = new Date();\n\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n\n\nif     (dd <  8) dd = 1;  //week 1 \nelse if(dd < 15) dd = 2; //week 2\nelse if(dd < 22) dd = 3; //week 3\nelse if(dd > 21) dd = 4; //week 4\n\nmsg.fname = \"Temperature_Week_\" + mm + \"_\"+ dd +\".csv\";\n\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/\"+ msg.fname;\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":880,"wires":[["3bfb12c1.a1a21e"]],"outputLabels":["msg.filename"]},{"id":"7e624e01.ba465","type":"comment","z":"16d8da81.ec2935","name":"Week Temperature / 24 h x 24","info":"","x":730,"y":660,"wires":[]},{"id":"f3264ff5.98e6a","type":"comment","z":"16d8da81.ec2935","name":"Timestamp to Sensor data","info":"","x":1300,"y":300,"wires":[]},{"id":"9ba09dd5.5cbc9","type":"trigger","z":"16d8da81.ec2935","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"60","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":780,"wires":[["8d213b9c.c58658"]]},{"id":"19a308c4.7ec737","type":"comment","z":"16d8da81.ec2935","name":"400 values avg. ","info":"","x":960,"y":720,"wires":[]},{"id":"71acd699.0806b8","type":"comment","z":"16d8da81.ec2935","name":"400 values avg.","info":"","x":970,"y":360,"wires":[]},{"id":"3675a7e5.7ce298","type":"ui_template","z":"6b8e83bc.43067c","group":"2c1e5ab3.914ef6","name":"Tab Stylesheet","order":4,"width":0,"height":0,"format":"<style>\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\nbody {\n  background-image: url(https://https://images.hdqwalls.com/wallpapers/bthumb/light-space-creative-5k-5s.jpg);\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n\n#Control_Panel_System {\n  background: transparent;\n  border: transparent; \n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: #ffffff;\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":300,"y":220,"wires":[[]]},{"id":"9e40bda9.f72fa","type":"ui_template","z":"6b8e83bc.43067c","group":"49ac8a4.a00c574","name":"Tab Stylesheet","order":4,"width":1,"height":1,"format":"<style>\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\nbody {\n  background-image: url(https://hdqwalls.com/light-space-creative-5k-wallpaper.jpg);\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n\n#Control_Panel_System {\n  background: transparent;\n  border: transparent; \n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: #ffffff;\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":300,"y":260,"wires":[[]]},{"id":"43ab51d7.f893f","type":"ui_template","z":"6b8e83bc.43067c","group":"f5a28d93.13a8c","name":"Tab Stylesheet","order":1,"width":0,"height":0,"format":"<style>\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\nbody {\n  background-image: url(https://https://hdqwalls.com/light-space-creative-5k-wallpaper.jpg);\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n\n#Control_Panel_System {\n  background: transparent;\n  border: transparent; \n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: #ffffff;\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":300,"y":180,"wires":[[]]},{"id":"36c7e9d7.220ea6","type":"comment","z":"6b8e83bc.43067c","name":"Tab Styles","info":"","x":280,"y":120,"wires":[]},{"id":"92b165d0.291d78","type":"ui_template","z":"6b8e83bc.43067c","group":"d2580356.a4959","name":"Tab Stylesheet","order":1,"width":0,"height":0,"format":"<style>\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\nbody {\n  background-image: url(https://https://hdqwalls.com/light-space-creative-5k-wallpaper.jpg);\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n\n#Control_Panel_System {\n  background: transparent;\n  border: transparent; \n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: #ffffff;\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":300,"y":300,"wires":[[]]},{"id":"42fdf962.956538","type":"function","z":"93d39300.701d5","name":"Deleting -127 degrees error","func":"var data;\nif(data == -127){ data == null;}\nif(data == \"-127\"){data == null;}\npayload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":300,"wires":[["c24306f3.8392d8"]]},{"id":"e73aa180.e2554","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":"","topic":"LEDwall/command/brightness","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":140,"y":220,"wires":[["76d3bc1e.350704"]]},{"id":"504ca3de.4b46ec","type":"debug","z":"93d39300.701d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"a589f417.205978","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"Blur/enable","topic":"LEDwall/command/blur/enabled","qos":"","retain":"","broker":"61de5090.0f5d9","x":670,"y":840,"wires":[]},{"id":"dd18f9a5.8a88d8","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"blinky/enabled","topic":"LEDwall/command/blinky/enabled","qos":"","retain":"","broker":"61de5090.0f5d9","x":660,"y":900,"wires":[]},{"id":"6aca0d2.5b64ef4","type":"ui_switch","z":"c8c42a7.fc8a6d8","name":"","label":"Blinky enabled","tooltip":"","group":"a7a4d354.f14e6","order":4,"width":2,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":380,"y":900,"wires":[["dd18f9a5.8a88d8"]]},{"id":"7c4cbb68.5fd664","type":"ui_button","z":"93d39300.701d5","name":"GoToLedStation","group":"2c1e5ab3.914ef6","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"wb_incandescent","payload":"{\"tab\":\"Led Station\"}","payloadType":"json","topic":"","topicType":"str","x":1090,"y":1040,"wires":[["a630599e.3821b8"]]},{"id":"21604d0e.7d5652","type":"ui_button","z":"93d39300.701d5","name":"GoToLedStation","group":"f6a64c10.f69fa","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"wb_incandescent","payload":"{\"tab\":\"Led Station\"}","payloadType":"json","topic":"","topicType":"str","x":1090,"y":1100,"wires":[["a630599e.3821b8"]]},{"id":"88949104.1f21b","type":"ui_button","z":"93d39300.701d5","name":"GoToHomePage","group":"f5a28d93.13a8c","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"home","payload":"{\"tab\":\"Remote Home Station\"}","payloadType":"json","topic":"","topicType":"str","x":1090,"y":1160,"wires":[["a630599e.3821b8"]]},{"id":"e627decc.59736","type":"ui_button","z":"93d39300.701d5","name":"GoToLiveVideo","group":"f5a28d93.13a8c","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"videocam","payload":"{\"tab\":\"LiveVideo\"}","payloadType":"json","topic":"","topicType":"str","x":1080,"y":980,"wires":[["a630599e.3821b8"]]},{"id":"c8e35ecb.8d968","type":"ui_button","z":"93d39300.701d5","name":"GoToHistory","group":"f6a64c10.f69fa","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"poll","payload":"{\"tab\":\"History\"}","payloadType":"json","topic":"","topicType":"str","x":1070,"y":800,"wires":[["dfee2345.2ed18"]]},{"id":"5769be05.e2a2c","type":"ui_button","z":"93d39300.701d5","name":"GoToHistory","group":"f5a28d93.13a8c","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"darkgrey","icon":"poll","payload":"{\"tab\":\"History\"}","payloadType":"json","topic":"","topicType":"str","x":1070,"y":740,"wires":[["dfee2345.2ed18"]]},{"id":"f97e0d6f.323e9","type":"ui_switch","z":"c8c42a7.fc8a6d8","name":"","label":"Blur Enabled","tooltip":"","group":"a7a4d354.f14e6","order":3,"width":2,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":390,"y":840,"wires":[["a589f417.205978"]]},{"id":"752894f6.c84afc","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"Blinkyred","topic":"LEDwall/command/blinky/red","qos":"","retain":"","broker":"61de5090.0f5d9","x":2560,"y":660,"wires":[]},{"id":"62697c.32764684","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":" Enabled","topic":"LEDwall/command/makeAll/enabled","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":140,"y":660,"wires":[["6405acaa.1f3134","236d66cd.057c62"]]},{"id":"13c042c7.81fd1d","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":" type","topic":"LEDwall/command/makeAll/type","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":1090,"y":660,"wires":[["798d5cab.0a7b04"]]},{"id":"5f58d404.ffd26c","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"BlinkyDots","topic":"LEDwall/command/blinky/dots","qos":"","retain":"","broker":"61de5090.0f5d9","x":2550,"y":1140,"wires":[]},{"id":"bc971148.5ae79","type":"ui_text_input","z":"c8c42a7.fc8a6d8","name":"","label":"dots","tooltip":"","group":"4cb4003a.695a5","order":14,"width":1,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":2070,"y":1140,"wires":[["5f58d404.ffd26c"]]},{"id":"68036bf1.b21824","type":"mqtt out","z":"c8c42a7.fc8a6d8","name":"BlinkyGreen","topic":"LEDwall/command/blinky/green","qos":"","retain":"","broker":"61de5090.0f5d9","x":2550,"y":780,"wires":[]},{"id":"c430a0fd.a2147","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":"red","topic":"LEDwall/command/makeAll/red","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":1810,"y":660,"wires":[["2220f477.6f088c"]]},{"id":"4b0b36c9.b9d328","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":"green","topic":"LEDwall/command/makeAll/green","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":1810,"y":780,"wires":[["d0cf6ebf.3a38f"]]},{"id":"89ca7a0b.ed0478","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":"blue","topic":"LEDwall/command/makeAll/blue","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":1810,"y":920,"wires":[["c878c8f0.4832a8"]]},{"id":"fcdde131.67a66","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":"blur/amount","topic":"LEDwall/command/blur/amount","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":1790,"y":1060,"wires":[["626ceea9.d2b58"]]},{"id":"bf0c769.3a98e88","type":"mqtt in","z":"c8c42a7.fc8a6d8","name":"blinky/dots","topic":"LEDwall/command/blinky/dots","qos":"2","datatype":"auto","broker":"61de5090.0f5d9","x":1790,"y":1140,"wires":[["bc971148.5ae79"]]},{"id":"7aece183.d14a7","type":"ui_toast","z":"c8c42a7.fc8a6d8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":650,"y":340,"wires":[]},{"id":"5101367d.f440e8","type":"telegram command","z":"c8c42a7.fc8a6d8","name":"Brightnessup","command":"Bup","bot":"41ba6f17.84a88","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":90,"y":348,"wires":[["bc8fe99d.89f508"],[]]},{"id":"35fecba2.8377c4","type":"ui_template","z":"199937ae.588a28","group":"1c70d4cd.325c0b","name":"Clock Toolbar","order":3,"width":0,"height":0,"format":"\n<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div></div>');\n    var p = $('<p/ id=\"clock\">');\n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data.match(\"systemsummary\")) { //Systemstatus\n                m = data;\n                n = m.split(':');\n                //alert(n[1]);\n                var sSummary = parseInt(n[1], 10);\n                if(sSummary === 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"transparent\";\n                }\n                if(sSummary < 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"#FF0033\";\n                }\n            }else{\n                displayTitle(data);\n            }\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":300,"y":240,"wires":[[]]},{"id":"9867531d.0f789","type":"ui_template","z":"199937ae.588a28","group":"4cb4003a.695a5","name":"Clock Toolbar","order":3,"width":0,"height":0,"format":"\n<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div></div>');\n    var p = $('<p/ id=\"clock\">');\n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data.match(\"systemsummary\")) { //Systemstatus\n                m = data;\n                n = m.split(':');\n                //alert(n[1]);\n                var sSummary = parseInt(n[1], 10);\n                if(sSummary === 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"transparent\";\n                }\n                if(sSummary < 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"#FF0033\";\n                }\n            }else{\n                displayTitle(data);\n            }\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":300,"y":280,"wires":[[]]},{"id":"1b8b7e9e.854e71","type":"trigger","z":"16d8da81.ec2935","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"15","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":400,"wires":[["8c8c3919.70f3a8"]]},{"id":"d5d320de.113b4","type":"comment","z":"16d8da81.ec2935","name":"Daily Temperature","info":"","x":690,"y":300,"wires":[]},{"id":"236d66cd.057c62","type":"debug","z":"c8c42a7.fc8a6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":580,"wires":[]},{"id":"2e0342ee.1d62b6","type":"comment","z":"a73991e1.f5554","name":"Edit webpage in template node","info":"","x":670,"y":160,"wires":[]},{"id":"dfee2345.2ed18","type":"ui_ui_control","z":"93d39300.701d5","name":"ui control","x":1420,"y":740,"wires":[[]]},{"id":"ec9696e2.483278","type":"inject","z":"16d8da81.ec2935","name":"","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"topic":"","x":1470,"y":360,"wires":[["4749400a.89a12"]]},{"id":"268a823c.fa3896","type":"inject","z":"16d8da81.ec2935","name":"","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"01 00 * * 1","once":false,"onceDelay":0.1,"topic":"","x":1470,"y":740,"wires":[["89a6b0b3.c438"]]},{"id":"6082caba.26d244","type":"debug","z":"c8c42a7.fc8a6d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2460,"y":580,"wires":[]}]